<header id="page-header" role="banner" class="background-size-cover">
  <div class="site-container">
    <h1>
      Eventually
    </h1>
  </div>
</header>
<section id="page-container">
  <div class="site-container">
    <article class="eventContainer box block dataandnumbers">
      <h3 class="headline">En eventrubrik</h3>

      <div class="eventImageContainer">
        <img class="eventImage" src="/assets/img/IMG_0328.JPG" />
      </div>
      <div class="eventTextContainer">
        <div class="eventTags"></div>
        <div class="eventCreateDate"></div>
      </div>
    </article>
  </div>
</section>