<div *ngIf="tags" style="margin-bottom: 10px">
  <a (click)="getEvents()" class="btn btn-small wanted">Återställ filter</a>
  <span *ngFor="let tag of tags">
    <button (click)="getEventsWithTag(tag.id)" class="btn btn-small simple">{{tag.name}}</button>
  </span>
</div>

<article *ngFor="let event of events" class="eventContainer box block dataandnumbers">
  <a [routerLink]="['/event', event.id]">
    <h3 class="headline">{{event.name}}</h3>
  </a>
  <div class="event-content">
    <div class="event-image-wrapper">
      <div class="eventImageContainer">
        <img class="eventImage" src="{{event.imageUrl}}" />
      </div>
      <span class="event-rating">{{event.goldStars}} <i class="icon-star icon-large" style="font-size: 30px" [ngClass]="{'activePoll' : event.showGold }" (click)="toggleGoldStar(event)"></i></span>
    </div>
    <div class="eventTextContainer">
      <p>Start: {{event.startTime | slice:0:10}} {{event.startTime | slice:11:16}}</p>
      <p>Slut: {{event.endTime | slice:0:10}} {{event.endTime | slice:11:16}}</p>
      <p class="event-description">{{ event.description | slice:0:150 }} ...</p>
    </div>
  </div>
</article>